.root{
    -fx-background: #6B6E70;
    -fx-base: #86C232;
    -fx-text-background-color: white;
    -fx-text-base-color: white;
    -fx-font-size: 20px;
    -fx-font-family: "Quicksand Light";
}

.choice-box,
.choice-box:focused,
.button,
.button:focused {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: -fx-base;
}


.choice-box .menu-item{
    -fx-background-color: -fx-background;
}

.choice-box .menu-item:focused{
    -fx-background-color: -fx-base;
}

.choice-box .context-menu{
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-background;
}

